/*===============================
 #.header-area
=================================*/
.header-area {
  padding: 1rem 0;
  transition: padding 0.2s ease-in-out;
  border-bottom: 1px solid var(--bordercolor);

  &.stick {
    width: 100%;
    left: 0;
    right: 0;
    background: var(--white);
    padding: .5rem 0;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .06);
    animation: slideDown 0.35s ease-out;
  }


  .navbar-nav {
    grid-column-gap: 3rem;
    grid-row-gap: 1rem;

    .nav-item {
      .nav-link {
        padding: 0;
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: capitalize;
        color: var(--tColor);
        transition: $transition;

        &:hover {
          color: var(--primary-color);
        }
      }

      &.current {
        .nav-link {
          color: var(--primary-color);
        }
      }
    }

  }

  .header-right {
    display: flex;
    grid-column-gap: 1.4rem;
  }
}

.navbar-brand {
  img {
    max-width: 16rem;
  }

  .pos-logo {
    max-width: 5rem;
    max-height: 5rem;
    object-fit: cover;
  }
}

.navbar-toggler {
  width: 4.2rem;
  height: 4.2rem;
  padding: 0;
  border-radius: 1rem;
  font-size: 2rem;
  transition: $transition;

  &:hover {
    color: var(--white);
    background: var(--primary-color);
  }
}

.navbar-toggler:focus {
  box-shadow: none;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}